:root {
	color-scheme: light dark;
	background: #cbcbcb;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #e7e7e7;
	display: flex;
	align-items: center;
	justify-content: center;
}
#blocks {
	/* width: 98vw; */
	/* height: 98vh; */
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width: 630px) {
	#blocks {
		flex-direction: column;
	}
}

.block {
	height: 10vw;
	width: 10vw;
	font-size: 3.5vw;
	/* font-weight: bold; */
	margin-right: 1.5vw;
	margin-left: 1.5vw;
	border: 0.5vw solid #e7e7e7;
	border-radius: 7vw;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1vw 1vw 2vw #888888;
}
@media (max-width: 630px) {
	.block {
		margin-top: 1.5vw;
		margin-bottom: 1.5vw;
		height: 30vw;
		width: 30vw;
		border: 1.3vw solid #e7e7e7;
		border-radius: 15vw;
		font-size: 8vw;
	}
}
#day {
	background: #155d36;
}

#hour {
	background: #e5ceb3;
}

#minute {
	background: #eea61d;
}

#second {
	background: #aa1d2f;
}
